" set nocompatible
filetype off

" set rtp+=~/.vim/bundle/Vundle.vim
" call vundle#begin()
call plug#begin('~/.vim/plugged')

" Plug 'VundleVim/Vundle.vim'

" Pairing
" Plug 'Floobits/floobits-vim'

" UI
Plug 'bling/vim-airline'
Plug 'flazz/vim-colorschemes'

" Git & Version Control
Plug 'tpope/vim-fugitive'
Plug 'gregsexton/gitv'
Plug 'airblade/vim-gitgutter'

" Search
" Plug 'ctrlpvim/ctrlp.vim'
Plug 'junegunn/fzf'
Plug 'junegunn/fzf.vim'
Plug 'rking/ag.vim'
Plug 'scrooloose/nerdtree'
Plug 'scrooloose/vim-slumlord'
Plug 'aklt/plantuml-syntax'
Plug 'Xuyuanp/nerdtree-git-plugin'
Plug 'taiansu/nerdtree-ag'
Plug 'nelstrom/vim-visual-star-search'
Plug 'ludovicchabant/vim-gutentags'

" Autocomplete
if has('nvim')
  Plug 'Shougo/deoplete.nvim', { 'do': ':UpdateRemotePlugins' }
else
  Plug 'Shougo/deoplete.nvim'
  Plug 'roxma/nvim-yarp'
  Plug 'roxma/vim-hug-neovim-rpc'
endif
let g:deoplete#enable_at_startup = 1

" Plug 'Shougo/deoplete.nvim'
" Plug 'Shougo/neocomplete.vim'
" Plug 'SirVer/ultisnips'
" Plug 'honza/vim-snippets'

" Javascript
" Plug 'pangloss/vim-javascript'
" Plug 'ternjs/tern_for_vim'
" Plug 'isRuslan/vim-es6'
" Plug 'mustache/vim-mustache-handlebars'
" Plug 'millermedeiros/vim-esformatter'

" Typescript
" Plug 'leafgarland/typescript-vim'
" Plug 'Quramy/tsuquyomi'

" Ruby
Plug 'vim-ruby/vim-ruby'
Plug 'tpope/vim-endwise'
Plug 'tpope/vim-cucumber'
Plug 'tpope/vim-rails'
" Plug 'rainerborene/vim-reek'

" Elm
" Plug 'elmcast/elm-vim'

" Editing
Plug 'tpope/vim-surround'
Plug 'Lokaltog/vim-easymotion'
Plug 'tpope/vim-commentary'
Plug 'godlygeek/tabular'
Plug 'vim-scripts/matchit.zip'
Plug 'tpope/vim-abolish'
Plug 'wgurecky/vimSum'
Plug 'terryma/vim-multiple-cursors'

" Syntax
" Plug 'scrooloose/syntastic'
Plug 'w0rp/ale'
Plug 'ngmy/vim-rubocop'

" Command line
Plug 'tpope/vim-dispatch'
Plug 'janko-m/vim-test'

" System
Plug 'xolox/vim-misc'
Plug 'xolox/vim-session'
Plug 'qpkorr/vim-renamer'

" call vundle#end()

call plug#end()
filetype plugin indent on
